<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Globe Trotters</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">Globe Trotters</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/my-posts">MY-POSTS</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="delete"><a href="/delete">REMOVE POST</a></li>
          <li id="home"><a href="/logout">LOGOUT<img src="/logout.png" alt="logout logo" width="16px"></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
