<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Globe Trotters</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Globe Trotters</p>
      </div>
    </div>
  </nav>

  <body>
    <div class="container">


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"></h1>
    <p class="lead">Globe Trotters is a travel blog for those who love to explore the world and its wonders. Whether you’re looking for inspiration, tips, or stories, you’ll find them here. Join us as we share our adventures and experiences from different countries and cultures. We’ll show you the best places to visit, the most amazing things to do, and the most delicious food to eat. We’ll also give you honest and helpful advice on how to travel smarter, cheaper, and better. Globe Trotters is more than just a travel blog. It’s a community of passionate travellers who want to make the most of their journeys and live their dreams. If you’re ready to join us, then let’s go! 😊</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
